{% comment %}

For more information on collection tags:
- http://docs.shopify.com/themes/liquid-variables/collection

TODO: Determine what is causing the issue with the html minification on this
page.

{% endcomment %}

{% section 'shop-hero' %}

<div class="product-grid-hero">
  <div class="wrapper">

    {% if is_valentine_promo == false %}
    {% assign all_items_label = 'All Styles' %}
    {% include 'product-grid-filters' %}
    {% endif %}

    <div class="hero-body">
      {% paginate collection.products by 12 %}

      {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
      {% endcomment %}

      {% comment %}
      Loop through our products in the current collection.
      See the snippet 'product-grid-item' for the layout.
      {% endcomment %}

      <div id="collection-items"
           data-has-next-page="{% if paginate.next %}true{% else %}false{% endif %}"
           {% if paginate.next %}
           data-next-page-url="{{ paginate.next.url }}"
           {% endif %}
           >
        {% for product in collection.products %}

          {% include 'product-grid-item' %}

        {% else %}

          <div class="grid-item">
            <p>Sorry, there are no products matching your search.</p>
          </div>

        {% endfor %}
      </div>

      <div class="loading-image-block js-hidden">
        <img src="{{ 'loading.gif' | asset_url }}" />
      </div>

      {% include 'pagination-block' %}

      <div class="back-to-top-block js-hidden">
        <a data-scroll class="back-to-top-link" href="#top">Back to Top</a>
      </div>

    {% endpaginate %}
    </div>

  </div>
</div>

<hr class="hr-4-col" />

{% include 'social-link-newsletter-hero' %}
