{% comment %}

For more information on collection tags:
- http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% if current_tags contains 'Runway Spring 2017' %}
  <div id="top" class="bridal-2017-collection-hero">
    <div class="wrapper">

    </div>
  </div>
{% elsif current_tags contains 'Bridesmaids' %}
  <div id="top" class="bridesmaids-collection-hero">
    <div class="wrapper">

    </div>
  </div>
{% else %}
  {% include 'collection-hero-gallery' %}
{% endif %}

{% comment %}If this is Birdal Runway 2017 show custom header image{% endcomment %}

<div class="product-grid-hero">
  <div class="wrapper">

    {% assign all_items_label = 'All Styles' %}
    {% include 'product-grid-filters' %}

    <div class="hero-body">
      {% paginate collection.products by 12 %}

      {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
      {% endcomment %}

      {% comment %}
      Loop through our products in the current collection.
      See the snippet 'product-grid-item' for the layout.
      {% endcomment %}

      <div id="collection-items"
           data-has-next-page="{% if paginate.next %}true{% else %}false{% endif %}"
           {% if paginate.next %}
           data-next-page-url="{{ paginate.next.url }}"
           {% endif %}>

        {% for product in collection.products %}

          {% comment %}
          Bridesmaids dresses should not show up on the full list of bridal dresses.
          But they need to be part of the bridal collection to be in the same section.
          This code filters out the bridesmaid's dresses when on the main bridal
          list page. But when viewing the Bridesmaids tag page, allows showing the
          Bridesmaids dresses.
          {% endcomment %}
          {% if current_tags contains 'Bridesmaids' %}
            {% include 'bridal-grid-item' %}
          {% else %}
            {% unless product.tags contains 'Bridesmaids' %}
              {% include 'bridal-grid-item' %}
            {% endunless %}
          {% endif %}

        {% else %}

          <div class="grid-item">
            <p>Sorry, there are no products matching your search.</p>
          </div>

        {% endfor %}
      </div>

      <div class="loading-image-block js-hidden">
        <img src="{{ 'loading.gif' | asset_url }}" />
      </div>

      {% include 'pagination-block' %}

      <div class="back-to-top-block js-hidden">
        <a data-scroll class="back-to-top-link" href="#top">Back to Top</a>
      </div>

    {% endpaginate %}
    </div>

  </div>
</div>

<hr class="hr-4-col" />

{% include 'social-link-newsletter-hero' %}
