{% layout 'full-viewport' %}



<div class="block-navigation-hero">
  <nav class="block-navigation-menu" role="navigation">

    {% comment %}
    <div id="homepage-video-hero" class="homepage-video-hero">
      <div class="inner active">
        <div class="content">
          <a href="#" class="play-link js-play-video">Play</a>
        </div>
      </div>
    </div>
    {% endcomment %}

  {% section 'homepage-image-video' %}

    {% comment %}
    <div class="block-navigation-column">
      <div class="inner">
        <a class="block-navigation-link-press" href="http://press.theiacouture.com/">
          <div class="image"></div>
          <div class="overlay"></div>
          <div class="content">
            <h3>
              Celebrity<br/>Fashion
            </h3>
          </div>
        </a>
      </div>
    </div>
    {% endcomment %}

  </nav>

</div>

{% include 'social-link-newsletter-hero' %}
