{% layout 'full-viewport' %}

{% comment %}{% assign bg-video-path = 'DELETE-example-bg-video' | asset_url | split: '?' | first %}{% endcomment %}
{% assign bg-video-path = 'spring-2016-hero-bg' | asset_url | split: '?' | first %}

{% comment %}
<!-- static hero -->
  <div id="homepage-hero" class="homepage-hero">
  <div class="inner">
    <div class="content">
      <!-- <h2>Boxing Week Sale on now! 40% off select items.</h2>
           <a href="/collections/shop/sale">Start Shopping</a> -->
      <h2>Discover the latest THEIA Resort Collection.</h2>
      <a href="/collections/shop/new-arrivals">Shop Resort 2016</a>
    </div>
  </div>
</div>
{% endcomment %}

{% comment %}
<!-- keep this as a template for other press headings -->
<div id="homepage-hero" class="golden-globes-feature-hero">
  <div class="wrapper">
    <div class="image-block">
      this is the image
    </div>
    <div class="content-block">
      <div class="content-block-inner">
        <h2>Jane Wu <br/> on the Red Carpet at the 73<sup>rd</sup> Golden Globe Awards.</h2>
        <a href="/products/micro-beaded-gown">Shop This Look</a>
      </div>
    </div>
  </div>
</div>
{% endcomment %}

<div class="block-navigation-hero">
  <nav class="block-navigation-menu" role="navigation">

    {% comment %}
    <div id="homepage-video-hero" class="homepage-video-hero">
      <div class="inner active">
        <div class="content">
          <a href="#" class="play-link js-play-video">Play</a>
        </div>
      </div>
    </div>
    {% endcomment %}

    <div class="block-navigation-column">
      <div class="inner">

        <div id="block-navigation-video-player" class="block-navigation-video-player">
          <div class="image"></div>
          <div class="overlay">
            
          </div>
          <div class="content">
            <div class="content-title-wrapper">
              <h3>
                The Making of a<br>THEIA Bridal Gown
              </h3>
            </div>
            <a href="#" class="play-link js-play-video"></a>
          </div>
          
          <div id="block-navigation-video-container" class="block-navigation-video-container hidden">
            {% comment %}
            if the player iframe has an id then you need to pass it in the url for the api to work.
            http://stackoverflow.com/questions/6537415/vimeo-froogaloop-api-not-recognizing-an-event
            {% endcomment %}
            {% assign vimeo_player_id = "homepage-video-player" %}
            {% assign vimeo_video_id = "185500563" %}
            <iframe src="https://player.vimeo.com/video/{{ vimeo_video_id }}?title=0&byline=0&portrait=0&player_id={{ vimeo_player_id }}"
                    id="{{ vimeo_player_id }}"
                    frameborder="0" width="100%" height="100%"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>


        {% comment %}
        <a class="block-navigation-link-shop" href="/collections/shop/new-arrivals">
          <div class="image"></div>
          <div class="overlay"></div>
          <div class="content">
            <h3>
              Shop<br/>New Arrivals
            </h3>
          </div>
        </a>
        {% endcomment %}

      </div>
    </div>

    <div class="block-navigation-column">
      <div class="inner">

        {% comment %}
        <a class="block-navigation-link-collection" href="/collections/shop/evening-gowns/">
          <div class="image"></div>
          <div class="overlay"></div>
          <div class="content">
            <h3>
              Browse Our<br/>Evening Wear Collection
            </h3>
          </div>
        </a>
        {% endcomment %}

        <a class="block-navigation-link-bridal" href="/collections/bridal/lookbook/">
          <div class="image"></div>
          <div class="overlay"></div>
          <div class="content">
            <h3>
              Browse Our<br/>Bridal Collection
            </h3>
          </div>
        </a>

      </div>
    </div>

    {% comment %}
    <div class="block-navigation-column">
      <div class="inner">
        <a class="block-navigation-link-press" href="http://press.theiacouture.com/">
          <div class="image"></div>
          <div class="overlay"></div>
          <div class="content">
            <h3>
              Celebrity<br/>Fashion
            </h3>
          </div>
        </a>
      </div>
    </div>
    {% endcomment %}

  </nav>

</div>

{% include 'social-link-newsletter-hero' %}
