{% layout 'full-viewport' %}

<div class="block-navigation-hero">
  <nav class="block-navigation-menu" role="navigation">

    {% section 'homepage-featured-products' %}

    {% section 'homepage-image-video' %}

</div>

{% include 'social-link-newsletter-hero' %}
