<aside class="blog-sidebar" role="complementary">

  {% comment %}
  Blog tags
  {% endcomment %}
  {% if blog.all_tags.size > 0 %}
    <div class="blog-sidebar-tags">
      {% for tag in blog.all_tags %}
        <span{% if current_tags contains tag %} class="active"{% endif %}>
          {{ tag | link_to_tag: tag }}
        </span>
      {% endfor %}
      {% comment %}
        <span{% if current_tags == blank %} class="active"{% endif %}>
          <a href="{{ blog.url }}">View All</a>
        </span>
      {% endcomment %}
    </div>
  {% endif %}

</aside>
