{% for link in linklists.main-menu.links %}
  {% if link.links != blank %}
    <div id="header-sub-menu-{{ link.object.handle }}"
      class="js-header-sub-menu header-sub-menu">
      <div class="sub-menu-column">
        {% for sublink in link.links %}
          <a class="sub-menu-link"
            href="{{ sublink.url }}">{{ sublink.title }}</a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endfor %}
