    <div class="block-navigation-column">
      <div class="inner">

        {% comment %}
        <a class="block-navigation-link-collection" href="/collections/shop/evening-gowns/">
          <div class="image"></div>
          <div class="overlay"></div>
          <div class="content">
            <h3>
              Browse Our<br/>Evening Wear Collection
            </h3>
          </div>
        </a>
        {% endcomment %}

        <a class="block-navigation-link-bridal" href="{{ section.settings.picture_url }}">
          <div class="image"></div>
          <div class="overlay"></div>
          <div class="content">
            <h3>
              {{ section.settings.line_1 }}<br/>{{ section.settings.line_2 }}
            </h3>
          </div>
        </a>

      </div>
    </div>

{% schema %}

  {
    "blocks": [    
	    {
        "type": "image",
        "name": "Image",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "line_1",
            "label": "Line 1",
            "default": "Browse Our"
          },
          {
            "type": "text",
            "id": "line_2",
            "label": "Line 2",
            "default": "Bridal Collection"
          },
          {
            "type": "text",
            "id": "picture_url",
            "label": "Relative Link",
            "default": "/collections/bridal/lookbook/"
          }
        ]
      }
	  ]
  }
    
{% endschema %}
