      <div class="homepage-collection-hero-new">
        <div class="inner">
          <div class="image">
          </div>
          <div class="content">
            <div>
              <h2>adsfasdfasf {{ settings.hero_text }}</h2>
              <a href="{{ settings.hero_cta_link }}">
                {{ settings.hero_cta_text }}
              </a>
            </div>
          </div>
        </div>

      </div>
